body {
	background-image: url("img/lm1.jpg");
	background-size: auto ;
	margin: 0;
     }
#okno
{
	background-image: linear-gradient(to right top, #113772, #1c2d6b, #242363, #2b1759, #30084f,0.8);
	text-align: center;
	width: 300px;
	padding: 50px;
	margin-left: auto;
	margin-right: auto;
	margin-top: 15px;
	border-radius: 20px;
	-webkit-box-shadow: 2px 0px 19px 2px rgba(227,13,117,1);
	-moz-box-shadow: 2px 0px 19px 2px rgba(227,13,117,1);
	box-shadow: 2px 0px 19px 2px rgba(227,13,117,1);
	
}
.pasek{
	padding: 10px;
}

img{
	position: absolute;
	left:20px;
	top:7px;
}

h2
{
	position: relative;
	text-align:center;
	color: white;
	font-size: 35px;
	font-family:"Courier New";
	top: -28px;
}

h3{
	letter-spacing: 4px;
	color: #ede8ed;
	text-transform: uppercase;
	font-size: 30px;
	font-family:"Courier New";
}

#a{
	position: absolute;
	letter-spacing: 4px;
	color: white;
	text-transform: uppercase;
	font-size: 22px;
	top: 44px;
	left: 1240px;
	text-decoration: none;
	font-family:"Courier New";
	
}


li{
	display: inline-block;
}

#a:hover{
	cursor: pointer;
}

#a::after{
	content: '';
	display: block;
	width: 0;
	height: 2px;
	background: #fff;
	transition: width .3s;
	-webkit-transition: width .3s;
	-moz-transition: width .3s;
}
#a:hover::after{
	width: 100%;
	transition: width .3s;
	-webkit-transition: width .3s;
	-moz-transition: width .3s;
}


h1{
	color: black;
	letter-spacing: 4px;
	text-align: center;
	font-size: 55px;
	margin-top: 0;
	transition: letter-spacing 1.8s ease-in-out;
	-webkit-transition:  letter-spacing 1.8s ease-in-out;
	-moz-transition:  letter-spacing 1.8s ease-in-out;
	display: block;
	font-family:"Courier New";
}

h1:hover{
	letter-spacing: 12px;
}



input[type=text],
input[type=password]
{
	width: 300px;er
	background-color: #efefef;
	color: #666;
	margin-top: 10px;
	border: 2px solid #ddd;
	border-radius: 20px;
	font-size: 20px;
	padding: 10px;
	box-sizing: border-box;
	outline: none;
	transition: -webkit-box-shadow, -moz-box-shadow, box-shadow, border .6s linear; 
	-webkit-transition:  -webkit-box-shadow, -moz-box-shadow, box-shadow, border .6s linear; 
	-moz-transition: -webkit-box-shadow, -moz-box-shadow, box-shadow, border .6s linear; 
}

input[type=text]:focus,
input[type=password]:focus
{
	-webkit-box-shadow: 0px 0px 9px 1px rgba(255,255,255,1);
	-moz-box-shadow: 0px 0px 9px 1px rgba(255,255,255,1);
	box-shadow: 0px 0px 9px 1px rgba(255,255,255,1);
	border: 2px solid #99063c;
	color: #e34280;
	
}

input[type=text]:hover,
input[type=password]:hover
{
	-webkit-box-shadow: 0px 0px 52px 12px rgba(209,167,184,1);
	-moz-box-shadow: 0px 0px 52px 12px rgba(209,167,184,1);
	box-shadow: 0px 0px 52px 12px rgba(209,167,184,1);
	border: 2px solid #99063c;
	
}

input[type=submit]
{
	width: 200px;
	background-color: #99063c;
	font-size: 20px;
	color: white;
	padding: 15px 10px;
	margin-top: 20px;
	margin-left: auto;
	border: none;
	border-radius: 20px;
	cursor: pointer;
	letter-spacing: 2px;
	outline: none;
	transition: background-color .3s linear;
	-webkit-transition:   background-color .3s linear;
	-moz-transition:  background-color .3s linear;

}

input[type=submit]:focus
{
	-webkit-box-shadow: 0px 0px 52px 12px rgba(153,6,60,1);
	-moz-box-shadow: 0px 0px 52px 12px rgba(153,6,60,1);
	box-shadow: 0px 0px 52px 12px rgba(153,6,60,1);
}

input[type=submit]:hover
{
	background-color: #820437;
}

input::-webkit-input-placeholder
{
	color: #820434;
}
input:-moz-placeholder
{
	color: #820434;
}
input::-moz-placeholder
{
	color: #820434;
}
input-ms-input-placeholder
{
	color: #820434;
}

.footer
{
	width:100%;
	text align:center;
}

.socials
{
	width:1000px;
	margin-left:380px;
	margin-right:auto;
	margin-top:90px;
}

.fb
{
	
	float:left;
	margin-right:200px;
	cursor:pointer;
	border: 0px groove #f08896;
	border-radius: 20px;
	padding:6px;
	transition: background-color .3s linear;
	-webkit-transition:   background-color .3s linear;
	-moz-transition:  background-color .3s linear;

}

.tw
{
	float:left;
	margin-right:200px;
	cursor:pointer;
	border: 0px groove #f08896;
	border-radius: 20px;
	padding:6px;
	transition: background-color .3s linear;
	-webkit-transition:   background-color .3s linear;
	-moz-transition:  background-color .3s linear;

}

.yt
{
	float:left;
	margin-right:200px;
	cursor:pointer;
	border: 0px groove #f08896;
	border-radius: 20px;
	padding:6px;
	transition: background-color .3s linear;
	-webkit-transition:   background-color .3s linear;
	-moz-transition:  background-color .3s linear;

}

.in
{
	float:left;
	margin-right:200px;
	cursor:pointer;
	border: 0px groove #f08896;
	border-radius: 20px;
	padding:6px;
	transition: background-color .3s linear;
	-webkit-transition:   background-color .3s linear;
	-moz-transition:  background-color .3s linear;

}

.fb:hover
{
	background-color:#f0545e;
}

.tw:hover
{
	background-color:#f0545e;
}

.yt:hover
{
	background-color:#f0545e;
}

.in:hover
{
	background-color:#f0545e;
}